html,body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

img {
    max-width:10%;
    height:auto;
 
}

.word{
    position: absolute;
}

.first {
    left:45%;
    animation: first_word infinite 1s ease-out;
}

.second {
    left:53%;
    top:24%;
    animation: second_word infinite 1s ease-out;
}

.third {
    left:37%;
    top:24%;
    animation: third_word infinite 1s ease-out;
}

@keyframes first_word{
    from {
        left:45%;
        top:0;
    }
    to {
        left:53%;
        top:24%;
    }
}

@keyframes second_word{
    from {
        left:53%;
        top:24%;
    }
    to {
        left:37%;
        top:24%;
    }
}

@keyframes third_word{
    from {
        left:37%;
        top:24%;
    }
    to {
        left:45%;
        top:0;
    }
}