* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

html, body{
    width: 100%;
    height: 100%;
}

canvas {
    height: 100%;
    width: 100%;
}

.arrows {

    height: 30%;
    width: 30%;
    display: none;
    flex-wrap: wrap;
    top:0;
    position: absolute;
}

#up , #down {
    width: 100%;
    height: 25%;
}

#left , #right {
    width: 50%;
    height: 25%;
}

