*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/*Топ с header*/
.top{
    position: relative;
    width: 100%;
    height: 12%;

}

.top:after{
    position: absolute;
    content:"";
    width: 100%;
    height: 6px;
    background-color: red;
    top:100%;
}

.top h1 {
    font-weight: 100;
    font-size: 40px;
    position: absolute;
    top:0;
    right: 2%;
}

header img {
    width: 5%;
    height: 5%;
}
/*Основная часть*/
.container {
    width: 100%;
    max-width: 1980px;
    min-width: 800px;

    height: 100vh;
}

/*Меню навигации*/
nav {
    background: rgb(255, 202, 149);
    width: 17%;
    height: 100%;
}

.links {
    margin: 5px 0 0 10px;
    width: 100px;
    text-transform: uppercase;
    flex-direction: column;
    display: flex;
    padding: 10px 0 0 15px ;

}

a {
    margin-top: 5px;
    color: rgb(255, 163, 63);
    border-top: 2px rgb(255, 163, 63) solid;
    width: auto;
    padding: 5px 0 10px 0;

}
/*Форма ввода и кнопка*/
input {
    margin-left: 4px;
}

button {
    width: 55px;
    height: 25px;
    background-color:rgb(255, 153, 153);
    color: white;
}

/*Часть с контентом*/
.important_part {
    width: 100%;
    height: 120%;
    display: flex;
}

.main {
    width: 83%;
    height: 100%;
}

.main h1 {
    height: 5%;
    width: 100%;
    color:rgb(255, 202, 149);
    padding:10px 0 0 0 ;
    text-align: center;
    letter-spacing: 10px;
}

.main img {
    width: 180px;
    height: 180px;
    margin:auto;
    margin-left: 20%;
    margin-top: 2%;
}

.main ul {
    width: 20%;
    position: absolute;
    right:30%;
    top:30%;
}

.text {
    padding: 5%;
}

.news h1 {
    width: 50%;
}

.news p{
    width: 50%;
    padding: 5%;
}

.news {
    flex-wrap: wrap;
    display: flex;
}
/*Подвал*/
footer {
    background-color: rgb(255, 153, 153);
    width: auto;
    height: 8%;
}

footer p {
    color: white;
    padding: 2px 0 0 15px;
}