body {
    display: flex;
}

.fissure-block {
    margin: 5% auto 0 auto;
    height: 100%;
    width: 45%;
}

.fissure-header {
    display: flex;
}

.fissure-mission {
    margin-top: 15px;
    display: flex;
}

.header-item {
    display: flex;
    margin: 0 auto 0 auto;
    width: 20%;
}